{% extends 'DDShopBundle::layout.html.twig' %}

{% block content -%}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
<div class="text-center">
    <div class="form-goup">
    <form class="" action="{{ path('login_check') }}" method="post">

        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <input type="hidden" name="_target_path" value="/index" />
        <p>
        <button class="btn btn-login" type="submit">login</button>
    </form>
        <ul class="record_actions">
            <li>
                <a href="{{ path('account_register') }}">
                  <h4>Registration</h4>
                </a>
            </li>
            <li>
                <a href="{{ path('replacepass') }}">
                   <h5>Forgot password</h5>
                </a>
            </li>
        </ul>

    </div>
</div>
{% endblock %}
