{% extends 'DDShopBundle::layout.html.twig' %}

{% block contrnt -%}
   <p> Hello {{ user.getFirstname }} {{ user.getLastname }}!</p>
   <p> Your email :{{ user.getEmail }}</p>
   <p> You have role : {{ user.getRole }}</p>
        <p><a href="{{ path('user_logout') }}">Logout</a></p>
{% endblock %}
