{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@DDShopBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body%}
    {{ parent() }}
    <div class="container">
        {% block head %}{% endblock %}
        {% block error %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@DDShopBundle/Resources/public/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
