{% extends 'DDShopBundle::layout.html.twig' %}

{% block content -%}

    <div class="text-center">

        <div class="text-center">
        </div>
        <p> Hello {{ user.getFirstname }} {{ user.getLastname }}!</p>
        <p> Your email :{{ user.getEmail }}</p>
        <p> You have role : {{ user.getRole }}</p>
        <p><a href="{{ path('user_logout') }}">Logout</a></p>
    </div>
{% endblock %}
